.table {
  background-color: rgb(250, 234, 242);
  border-collapse: collapse;
  border: 2px solid black;
  margin: 30px auto;
  width: 90%;
}

th {
  background-color: rgb(238, 153, 178);
  color: "#ffffff";
}

th,
td {
  border: solid 1px;
}

.inputArea {
  margin-top: 50px;
}

.inputArea input {
  margin-left: 20px;
  margin-right: 20px;
  padding: 7px 0;
}
