.table {
  background-color: white;
  border-collapse: collapse;
  border: 2px solid black;
  margin: 30px auto;
  width: 90%;
}

th {
  background-color: rgb(153, 197, 238);
  color: "#ffffff";
}

th,
td {
  border: solid 1px;
}

.select{
  background-color: rgb(252, 179, 145);
}

.inputArea {
  margin-top: 50px;
}

.inputArea input {
  margin-left: 20px;
  margin-right: 20px;
  padding: 7px 0;
}
