/* .tablePage{

} */

.table {
  background-color: rgb(250, 234, 250);
  border-collapse:  collapse;
  border: 2px solid black;
  margin: 30px auto;
  width: 90%;
}

th{
    background-color: rgb(238, 153, 224);
    color: "#ffffff";
}

th,td{
    border: solid 1px;
}

.inputArea{
  margin-top: 50px;
}

.inputArea input{
  margin-left: 50px;
  margin-right: 10px;
}