.App {
  text-align: center;

  min-height: 100vh; /* コンテンツの高さの最小値＝ブラウザの高さに指定 */
  position: relative; /* 相対位置 */
  padding-bottom: 60px; /* フッターの高さを指定 */
  box-sizing: border-box;
  /* ヘッダーやフッターを含むすべての要素の高さ＝min-height:100vhになるように指定 */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
